* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: 1.5;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	position: relative;
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	color: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, button, textarea, select {
	font: inherit;
}

input {
	appearance: none;
}

audio, canvas, iframe, img, svg, video {
	display: block;
	max-width: 100%;
}

/* Prevents img without src to appear */
img:not([src]) {
	visibility: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Placez votre CSS après cette ligne */